body {
    display: grid;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

.frame {
    background: hsl(0, 0%, 13%);
    display: grid;
    margin: auto;
    width: 400px;
    height: 400px;
    border-radius: 2px;
    box-shadow: 1px 2px 10px 0px hsla(0, 0%, 0%, 0.3);
}